/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.body{
	font-family: 'Source Sans Pro';
	font-size: medium;
}

.input-group-text-timesheet{
	padding: 5px;
    width: 80px;
    margin-bottom: 25px;
}

.input-group-text-timesheet-nome{
	width:fit-content;
	font-family: 'Source Sans Pro Bold';
}

.sm-3{
	margin: 20px;
}

.navigation{
	font-family: 'Source Sans Pro';
	font-style: 0.9em;
}

.form-control{
	font-family: 'Source Sans Pro';
	font-style: 0.9em;
	//margin: 1.5rem;
}

.titulo{
	font-family: 'SackersStern-Bold', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .autocomplete-container{
	padding: 1.5em;
	display: inline-flex;
} */

.card_param_ts{
	font-family: 'Source Sans Pro';
	display: inline-block;
    width: 100%;
    padding: 10px;
}

.lov{
	font-style: 0.857rem;
	height: 1.5em;
	padding: 11px;
	display: inline-flex;
}

.rdt_Table{
	padding: 0 25px 25px 25px;
	font-family: 'Source Sans Pro Bold';
}

.rdt_TableCol{
	font-family: 'Source Sans Pro Bold';
	background-color: 'primary';
	border: 1px solid lightgrey;
	height: 1.5rem;
	padding: 0;
	display: block;
	justify-content: space-around;
	min-height: 80px;
	opacity: 0.5;
}

.rdt_TableCol:nth-child(1){
	display: none;

}

.rdt_TableHeadRow{
    background-color: 'primary' !important;
    //opacity: 0.5;
}

.rdt_TableRow:last-child{
		border-bottom: 1px solid lightgrey;
}

.rdt_TableCell{
	border-right: 1px solid lightgrey;
	text-align: center;
	//font-weight: bold;
	justify-content: space-around;
	font-family: 'Source Sans Pro Bold';
}
.rdt_TableCell:nth-child(1){
	display: none;
}

.rdt_TableCell:nth-child(2){
	width:auto;
	text-align:start;
	border-left: 1px solid lightgrey;
}