/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@font-face {
    font-family: 'SackersStern-Heavy';
    src: url('../fonts/SackersStern-Heavy.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SackersStern-Regular';
    src: url('../fonts/SackersStern-Regular.ttf') format('truetype');
  }

@font-face {
font-family: 'Source Sans Pro';
src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
		
}

@font-face {
font-family: 'Source Sans Pro Bold';
src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
		
}

@font-face {
	font-family: 'Source Sans Pro Light';
	src: url('../fonts/SourceSansPro-Light.ttf') format('truetype');
			
}

@font-face {
	font-family: 'Source Sans Pro SemiBold';
	src: url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
			
}

//@import '../node_modules/flatpickr/dist/themes/airbnb.css';

.body{
	font-family: 'Source Sans Pro';
	font-size: large;
}

.hs_label{
	font-family: 'Source Sans Pro';
	//font-style: 0.9em;
}

.form-label{
	font-family: 'Source Sans Pro';
	text-transform: uppercase;
	padding-left: 10px;
	margin: 3px 0 0px 0;
	font-size: .85em;
}

.input-group-text-timesheet{
	padding: 5px;
    width: 80px;
    margin-bottom: 25px;
}

.input-group-text{
    height: 1em;
    justify-items: center;
    margin-top: 24px;
    border-color: white;
	font-family: 'Source Sans Pro Bold';	
}

.seletor-layout{
	margin-top: 2.0825rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: aqua;
}

.switch-timesheet{
	align-self: baseline;
    margin-top: -30px;
    margin-right: -30px;
    margin-bottom: -18px;
    margin-left: 0px;
    padding: 10px;
    vertical-align: bottom;
}

.card-vendedor-timesheet{
	padding: 10px;
	min-width: 264px;
	min-height: 312px;
	background-color: white;
	border-radius: 5px;
	border: 2px solid black;
	margin: 10px
}

.input-group-text-timesheet-nome{
	width:fit-content;
	font-family: 'Source Sans Pro Bold';
}

.ausencia-principal{
	margin: 16px 0 16px 0;
}

.bgapp{
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:flex-start;
	gap: 25px;
	width:max-content
/* 	grid-template-columns: 1fr 3fr 1fr;
	width: 90%;
	border: 1px solid black;
	padding: 25px; */
}
.row-form{
	margin-bottom: 5 0 5 0;
	padding: 5px;
	border: 2px solid lightblue;
	//max-width: 80%;
	align-content: flex-start;
	justify-content: space-between;
}

.navigation{
	font-family: 'Source Sans Pro';
	//font-style: 0.9em;
}

.flatpicker-input{
    padding: 5px 0 5px 0;
    margin: 10px 0 10px 0;
    font-weight: 600;
    color: black;
}

.form-control{
	font-family: 'Source Sans Pro';
	margin: 5 0 5 0;
	//font-style: 1.25em;
	//margin: 1.5rem;
}

.titulo{
	font-family: 'SackersStern-Heavy';
	text-transform: uppercase;
}

/* .autocomplete-container{
	padding: 1.5em;
	display: inline-flex;
} */

.card_param_ts{
	font-family: 'Source Sans Pro';
	display: inline-block;
    width: 100%;
    padding: 10px;
}

.lov{
	height: 1.5em;
	padding: 11px;
	display: inline-flex;
	font-family: 'Source Sans Pro';
	//font-style: 0.9em;
}

.suggestion-item{
	font-family: 'Source Sans Pro';
}

.rdt_Table{
	padding: 0 25px 25px 25px;
	font-family: 'Source Sans Pro Bold';
}

.rdt_TableCol{
	font-family: 'Source Sans Pro Bold';
	background-color: 'primary';
	border: 1px solid lightgrey;
	height: 1.5rem;
	padding: 0;
	display: block;
	justify-content: space-around;
	min-height: 80px;
	opacity: 0.5;
}

.rdt_TableCol:nth-child(1){
	display: none;

}

.rdt_TableHeadRow{
    background-color: 'primary' !important;
    //opacity: 0.5;
}

.rdt_TableRow:last-child{
		border-bottom: 1px solid lightgrey;
}

.rdt_TableCell{
	border-right: 1px solid lightgrey;
	text-align: center;
	justify-content: space-around;
	font-family: 'Source Sans Pro Bold';
}
.rdt_TableCell:nth-child(1){
	display: none;
}

.rdt_TableCell:nth-child(2){
	width:auto;
	text-align:start;
	border-left: 1px solid lightgrey;
}