@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';
@import './assets/fonts';
@font-face {
    font-family: 'Source Sans Pro';
    src: url('./assets/fonts/SourceSansPro-Regular.eot');
    src: local('Source Sans Pro'), 
          url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
          
  }
  @font-face {
    font-family: 'SackersStern-Heavy';
    src: url('./assets/fonts/SackersStern-Heavy.eot');
    src: local('SackersStern-Heavy'), url('./assets/fonts/SackersStern-Heavy.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('./assets/fonts/SourceSansPro-Bold.eot');
    src: local('Source Sans Pro'), 
          url('./assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
          
  }